@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Blog>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div class="container">

	<!-- Featured blogpost -->
	<div class="row section">
		<div class="col-md-12">
			@{
				IPublishedContent featureStory = Model.Value<IPublishedContent>("featuredStory");
				if (featureStory != null)
				{
					<a href="@featureStory.Url" class="featured-link"><div class="featured-blog">
						@{
							var featureImage = featureStory.Value<IPublishedContent>("thumbnailImage");
						}
						<div class="image-box" style="background-image:url('@featureImage.Url')"></div>
						<h2>@featureStory.Value("pageTitle")</h2>
						<p>@featureStory.Value("excerpt")</p>
						<a href="@featureStory.Url" class="btn btn-primary">Read more >></a>
					</div></a>
				}
			}
			
		</div>
	</div>

    <!-- Latest blog posts -->
	<div class="row section">
		<div class="col-md-12">
			<h3>Latest stories</h3>
		</div>
	</div>

	<!-- Blog Post Query goes here. -->
	
	@Html.Partial("Blog-Posts")

	
</div>